# Configuración Base de Datos
DB_USERNAME=adsum_user
DB_PASSWORD=cambiar_por_contrasena_segura_en_produccion
DB_NAME=projecte_final

# Puertos expuestos en el servidor host
# El frontend en producción se expone en el puerto 80 (HTTP estándar) o 443 si agregas SSL
FRONTEND_PORT=80

# Backend de API
BACKEND_PORT=3000

# Puerto para phpMyAdmin (Recomendable cambiar a uno no estándar o dejar comentado si no se usa)
PMA_PORT_EXTERNAL=8080
