# Configuración Base de Datos
DB_ROOT_PASSWORD=root_password_segura
DB_NAME=adsum_db
DB_USERNAME=adsum_user
DB_PASSWORD=cambiar_por_contrasena_segura_en_produccion

# Seguridad
JWT_SECRET=cambiame_por_algo_seguro_y_largo

# Frontend
FRONTEND_URL=http://localhost:5173
FRONTEND_PORT=80

# Logs Backend
LOG_LEVEL=info
