# Configuración del Servidor
PORT=3000

# Base de Datos (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=adsum_db

# Seguridad
JWT_SECRET=cambiame_por_algo_seguro
FRONTEND_URL=http://localhost:5173
